.wrong-answer__background {
  animation-name: wrong-answer__background;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.right-answer__background {
  animation-name: right-answer__background;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes wrong-answer__background {
  from{
    background-color: inherit;
  }
  50%{
    background-color: rgba(252, 2, 2, 0.5);
  }
  to{
    background-color: inherit;
  }
}

@keyframes right-answer__background {
  from{
    background-color: inherit;
  }
  50%{
    background-color: rgba(35, 252, 2, 0.5);
  }
  to{
    background-color: inherit;
  }
}

.wrong-answer__fields {
  animation-name: wrong-answer__fields;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes wrong-answer__fields {
  from{
    left: 0;
  }
  25%{
    left: -10px;
  }
  75%{
    left: 10px;
  }
  to{
    left: 0;
  }
}

.main {
  display: flex;
}

.main__wrapper{
  flex: 0 1 100%
}

.fields {
  width: 90%;
  margin: 0 auto;
  display: flex;
  position: relative;
  perspective: 3000px;
}