.footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.7rem;
  color: white
}

.github_logo,
.rs-school_logo,
.year {
  height: 70px;
  flex: 0 1 33.333%;
}

.github_logo {
  background: url(./assets/github-logo.svg) 50% /contain no-repeat;
}

.year {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-school_logo {
  background: url(./assets/rs_school_js.svg) 50% /contain no-repeat;
}